    1. Define two variables, x and y, with values 5 and 10.

   Perform the following operations and print the results:  
   
   a. Sum of x and y  
   b. Difference of y and x  
   c. Product of x and y  
   d. Quotient of y by x

In [ ]:
# a. Sum of x and y
x = 5
y = 10
display(x + y)

# b. Difference of y and x 
display(y - x)

# c. Product of x and y  
display(x * y)

# d. Quotient of y by x
display(y / x)

15

5

50

2.0

     2. Define a list of fruits containing "apple", "banana", and "cherry".
       a. Add "orange" to the list.  
       b. Remove "banana" from the list.  
       c. Print the first and last elements of the list.

In [14]:
list_of_fruits = ["Apple", "Banana", "Cherry"]

# a. Add "orange" to the list. 

list_of_fruits.append("Orange")

display(list_of_fruits)

#   b. Remove "banana" from the list.

# list_of_fruits.remove("Banana")

list_of_fruits.pop(1) 

display(list_of_fruits)

# c. Print the first and last elements of the list.

display(list_of_fruits[0])

display(list_of_fruits[-1])

['Apple', 'Banana', 'Cherry', 'Orange']

['Apple', 'Cherry', 'Orange']

'Apple'

'Orange'

     3. Define a set of numbers containing 1, 2, 3, 4, and 5.
      a. Add the number 6 to the set.  
      b. Remove the number 3 from the set.  
      c. Check if the numbers 5 and 7 are in the set, and print the results.

In [3]:
set_of_numbers = {1, 2, 3, 4, 5}

display(set_of_numbers)
# a. Add the number 6 to the set.

set_of_numbers.add(6)

display(set_of_numbers)

#  b. Remove the number 3 from the set. 

set_of_numbers.remove(3)

display(set_of_numbers)

#  c. Check if the numbers 5 and 7 are in the set, and print the results

num_7_is_in_set = 7 in set_of_numbers
message_one = "7 is in set" if num_7_is_in_set else "7 is not in set"

display(message_one)

num_5_is_in_set = 5 in set_of_numbers
message_two = "5 is in set" if num_5_is_in_set else "5 is not in set"

display(message_two)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

'7 is not in set'

'5 is in set'

    4. Define a tuple representing coordinates (10.5, 20.7).  
      a. Print the x (first) and y (second) coordinates separately.

In [26]:
coordinates = (10.5, 20.7)

x , y = coordinates

display(x)
display(y)

10.5

20.7

    5. Define a dictionary of student grades, where:
     - "Alice" has a grade of 85  
     - "Bob" has a grade of 90  
     - "Charlie" has a grade of 78  
       a. Add a new student "David" with a grade of 88.  
       b. Update Alice's grade to 95.  
       c. Print Bob's grade.

In [86]:
grades = {"Alice": 85, "Bob": 90, "Charlie": 78}

display(grades)

 # a. Add a new student "David" with a grade of 88.

grades["David"]= 88



display(grades)
  
 # b. Update Alice's grade to 95. 

grades["Alice"] = 95

display(grades)

 # c. Print Bob's grade. 

grade_bob = grades["Bob"]

display(grade_bob)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}

{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 88}

{'Alice': 95, 'Bob': 90, 'Charlie': 78, 'David': 88}

90

In [33]:

grades = {'Alice': 95, 'Bob': 90, 'Charlie': 78, 'David': 88}

#for key, value in zip(keys, values):

key = list(grades.keys())

display(key)

value = list(grades.values())

display(value)

# for key, value in zip(keys, values):

    # print(key, value)

# for key, value in grades.items():

#     print(f"{key}: {value}")

['Alice', 'Bob', 'Charlie', 'David']

[95, 90, 78, 88]

     6. Define a variable called `age` with a value of 18.  
       a. Write an if/else statement that checks if the age is 18 or above.  
          If true, print "You are eligible to vote", otherwise print "You are not eligible to vote".

In [36]:
age = 18

if age >= 18:

    display(f" you are eligible to vote")

else:

    display(f"you are not eligible to vote")

' you are eligible to vote'

    7. Define a list of fruits: ["apple", "orange", "grape"].  
     a. Use a `for` loop to print each fruit in the list.

In [43]:
fruits = ["apple", "orange", "grape"]

for fruit in fruits:
    
    display(fruit)

'apple'

'orange'

'grape'

    8. Define a variable `count` with a value of 5.  
      a. Use a `while` loop to print a countdown from 5 to 1.

In [46]:
count = 5

while count > 0:
    display(count)
    count-=1

5

4

3

2

1

    9. Challenge: Combine lists, sets, dictionaries, and loops.
      a. Define a list of numbers from 1 to 10.  
      b. Create a set of even numbers from the list using a `for` loop or comprehension.  
      c. Create a dictionary that maps each even number to its square.  
      d. Print the set of even numbers and the dictionary.

In [57]:

# a. Define a list of numbers from 1 to 10.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

display(numbers)

# b. Create a set of even numbers from the list using a `for` loop or comprehension. 

even_numbers = set()

for number in numbers:
   if number % 2 == 0:
      even_numbers.add(number)

display(even_numbers)

#  c. Create a dictionary that maps each even number to its square.

even_numbers_dict = {}

for number in numbers:
    if number % 2 == 0:
        even_numbers_dict[number] = number ** 2

display(even_numbers_dict)   

   
# d. Print the set of even numbers and the dictionary.

display(even_numbers)

display(even_numbers_dict)

# even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
# squared = list(map(lambda x: x**2, numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

{2, 4, 6, 8, 10}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

{2, 4, 6, 8, 10}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

    10. Conversion between List, Set, and Tuple  
      a. Convert the list of fruits to a set and print the result.  
      b. Convert the set of even numbers to a tuple and print the result.  
      c. Convert the tuple of coordinates to a list and print the result.  

        - Conversion between list, set, and tuple examples:  
        - fruits -> set  
        - even_numbers (from challenge) -> tuple  
        - coordinates (tuple) -> list

In [64]:
#  a. Convert the list of fruits to a set and print the result. 

fruits = set(fruits)

display(fruits)

# b. Convert the set of even numbers to a tuple and print the result. 

even_numbers = tuple(even_numbers)

display(even_numbers)

# c. Convert the tuple of coordinates to a list and print the result.

coordinates = (10.5, 20.7)

coordinates = list(coordinates)

display(coordinates)

{'apple', 'grape', 'orange'}

(2, 4, 6, 8, 10)

[10.5, 20.7]

    11. Dictionary Keys and Values  
      a. Print the list of dictionary keys from the `grades` dictionary.  
      b. Print the list of dictionary values from the `grades` dictionary.  
      c. Loop through the dictionary and print each student name (key) and their grade (value).  

       . Dictionary keys and values  
       . grades -> keys() -> list  
       . grades -> values() -> list  
       . loop through dictionary

In [89]:


# a. Print the list of dictionary keys from the `grades` dictionary.  

display(grades.keys())

display(grades.values())


# b. Print the list of dictionary values from the `grades` dictionary.

# c. Loop through the dictionary and print each student name (key) and their grade (value).


display(grades.items())

dict_keys(['Alice', 'Bob', 'Charlie', 'David'])

dict_values([95, 90, 78, 88])

dict_items([('Alice', 95), ('Bob', 90), ('Charlie', 78), ('David', 88)])